.Auth {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    min-height: 100vh;
}

.Auth > div {
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
}

.Auth h1 {
    color: #333;
}

.AuthForm {
    padding: 15px;
}
